<%- include('header'); -%>
    <div class="box" id="heading">
        <h1> <%=listTitle%> ToDo List </h1>
    </div>

    <div class="box">

        <!-- Remove items form -->
        <form action="/delete" method="POST">
            <% for (item of newListItems){ %>
                <div class="item">
                    <input type="checkbox" name="checkbox" value="<%=item%>" onchange="this.form.submit()">
                    <p><%=item%></p>
                </div>
                <input type="hidden" name="listName" value="<%=listTitle%>">
                <% } %>
                <%console.log(listTitle)%>
        </form>
        <!-- Insert items form -->
        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New item" autocomplete="off">
            <button type="submit" name="button" value= <%=listTitle%>>+</button>
        </form>
    </div>

<%- include('footer'); -%>